Repository picoe/Eto, pull requests merged in 2025-02, with the labels that each got.

#2738 Mac: Open/SaveFileDialog fixes
  src/Eto.Mac/Forms/MacFileDialog.cs
  src/Eto.Mac/Forms/OpenFileDialogHandler.cs
  src/Eto.Mac/Forms/OpenWithDialogHandler.cs
  src/Eto.Mac/Forms/SaveFileDialogHandler.cs
  test/Eto.Test/Sections/Dialogs/FileDialogSection.cs
Labels: mac, enhancement, bug

#2740 Mac: Fix double extension for unknown file types
  src/Eto.Mac/Forms/SaveFileDialogHandler.cs
  test/Eto.Test/UnitTests/Forms/FileDialogTests.cs
Labels: mac, bug

#2741 Mac: Make MacCell/RowGridFormatEventArgs public
  src/Eto.Mac/Forms/Cells/CheckBoxCellHandler.cs
  src/Eto.Mac/Forms/Cells/ComboBoxCellHandler.cs
  src/Eto.Mac/Forms/Cells/CustomCellHandler.cs
  src/Eto.Mac/Forms/Cells/DrawableCellHandler.cs
  src/Eto.Mac/Forms/Cells/ImageTextCellHandler.cs
  src/Eto.Mac/Forms/Cells/ImageViewCellHandler.cs
  src/Eto.Mac/Forms/Cells/ProgressCellHandler.cs
  src/Eto.Mac/Forms/Cells/TextBoxCellHandler.cs
  src/Eto.Mac/Forms/Controls/GridHandler.cs
Labels: mac, enhancement

#2742 Mac: fix compile error when using net7 sdk
  src/Eto.Mac/Forms/ApplicationHandler.cs
Labels: mac, bug, regression

#2743 Always recurse style changed to children
  src/Eto/Forms/Container.cs
Labels: mac, bug

#2748 Measure height of DrawText section
  test/Eto.Test/Sections/Drawing/DrawTextSection.cs
Labels: bug

#2749 Mention documentcontrol in tabcontrol documentation
  src/Eto/Forms/Controls/TabControl.cs
Labels: enhancement
