Repository picoe/Eto, pull requests merged in 2025-06, with the labels that each got.

#2779 Wpf: Set blur behind only once, and protect against having an zero hwnd
  src/Eto.Wpf/CustomControls/GlassHelper.cs
  src/Eto.Wpf/Forms/WpfWindow.cs
Labels: wpf, bug

#2780 Mac: Fix layout of controls when constrained to a larger width
  src/Eto.Mac/Forms/Controls/ScrollableHandler.cs
  src/Eto.Mac/Forms/MacPanel.cs
  src/Eto.Mac/Forms/MacView.cs
  test/Eto.Test/UnitTests/Forms/ClipboardTests.cs
  test/Eto.Test/UnitTests/Forms/Layout/LayoutTests.cs
  test/Eto.Test/UnitTests/TestBase.cs
Labels: mac, bug

#2781 Added a null check to prevent crash on Mac
  src/Eto.Mac/Forms/MacFileDialog.cs
Labels: mac, bug

#2782 Wpf: Fix issue removing a child from its parent
  src/Eto.Wpf/Forms/Controls/PanelHandler.cs
  src/Eto.Wpf/Forms/WpfFrameworkElement.cs
  src/Eto.Wpf/Forms/WpfPanel.cs
  src/Eto/Forms/Container.cs
  test/Eto.Test.Wpf/UnitTests/ContainerTests.cs
  test/Eto.Test/UnitTests/Forms/ContainerTests.cs
  test/Eto.Test/UnitTests/TestBase.cs
Labels: wpf, bug

#2783 Wpf: Don't create source for windows when setting Focusable property
  src/Eto.Wpf/Forms/FormHandler.cs
  src/Eto.Wpf/Forms/WpfWindow.cs
Labels: wpf, bug

#2784 Mac: Fix getting proper preferred height of Tree/GridView
  src/Eto.Mac/Forms/Controls/GridHandler.cs
Labels: mac, bug

#2785 Mac: Keep AutoSize on an column when Expand is true after resizing
  src/Eto.Mac/Forms/Controls/GridHandler.cs
Labels: mac, bug

#2786 Add UseMnemonic and AlwaysShowMnemonic properties
  src/Eto.Gtk/Forms/Controls/ButtonHandler.gtk3.cs
  src/Eto.Gtk/Forms/Controls/CheckBoxHandler.cs
  src/Eto.Gtk/Forms/Controls/LabelHandler.cs
  src/Eto.Gtk/Forms/Controls/RadioButtonHandler.cs
  src/Eto.Gtk/Platform.cs
  src/Eto.Mac/Forms/Controls/MacButton.cs
  src/Eto.Mac/Forms/Controls/MacLabel.cs
  src/Eto.Mac/Forms/Controls/MacMnemonicString.cs
  src/Eto.WinForms/Forms/Controls/ButtonHandler.cs
  src/Eto.WinForms/Forms/Controls/CheckBoxHandler.cs
  src/Eto.WinForms/Forms/Controls/LabelHandler.cs
  src/Eto.WinForms/Forms/Controls/RadioButton.cs
  src/Eto.WinForms/Platform.cs
  src/Eto.WinUI/Forms/Controls/ButtonHandler.cs
  src/Eto.WinUI/Forms/Controls/CheckBoxHandler.cs
  src/Eto.WinUI/Forms/Controls/LabelHandler.cs
  src/Eto.Wpf/Forms/Controls/ButtonHandler.cs
  src/Eto.Wpf/Forms/Controls/CheckBoxHandler.cs
  src/Eto.Wpf/Forms/Controls/EtoAccessLabel.cs
  src/Eto.Wpf/Forms/Controls/LabelHandler.cs
  src/Eto.Wpf/Forms/Controls/RadioButtonHandler.cs
  src/Eto.Wpf/Platform.cs
  src/Eto.Wpf/WpfConversions.cs
  src/Eto/Forms/Controls/Button.cs
  src/Eto/Forms/Controls/CheckBox.cs
  src/Eto/Forms/Controls/Control.cs
  src/Eto/Forms/Controls/IMnemonicControl.cs
  src/Eto/Forms/Controls/Label.cs
  src/Eto/Forms/Controls/RadioButton.cs
  src/Eto/Platform.cs
  src/Shared/Conversions.cs
  test/Eto.Test/Sections/Behaviors/MnemonicSection.cs
Labels: enhancement

#2787 Update to .NET 8
  .vscode/launch.json
  build/Common.Build.props
  samples/MacOS/EmbedEtoInMacOS/EmbedEtoInMacOS.csproj
  samples/MacOS/EmbedMacOSInEto/EmbedMacOSInEto.csproj
  src/Eto.Forms.Templates/content/App-CSharp/.template.config/template.json
  src/Eto.Forms.Templates/content/App-FSharp/.template.config/template.json
  src/Eto.Forms.Templates/content/App-VisualBasic/.template.config/template.json
  src/Eto.Mac/Eto.macOS.csproj
  src/Eto.Mac/Forms/ColorDialogHandler.cs
  src/Eto.Mac/Forms/CursorHandler.cs
  src/Eto.Mac/Forms/DataObjectHandler.cs
  src/Eto/Eto.csproj
  src/Eto/sdk/Sdk.targets
  test/Eto.Test.Android/Eto.Test.Android.csproj
  test/Eto.Test.Direct2D/Eto.Test.Direct2D.csproj
  test/Eto.Test.Gtk/Eto.Test.Gtk.csproj
  test/Eto.Test.Mac/Eto.Test.Mac64.csproj
  test/Eto.Test.Mac/Eto.Test.macOS.csproj
  test/Eto.Test.WinForms/Eto.Test.WinForms.csproj
  test/Eto.Test.Wpf/Eto.Test.Wpf.csproj
  test/Eto.Test/Eto.Test.csproj
Labels: enhancement

#2789 Make setting TextBox.Text consistent with the TextChanged event and selection
  src/Eto.Gtk/Forms/Controls/TextBoxHandler.cs
  src/Eto.Mac/Forms/Controls/MacText.cs
  src/Eto.WinForms/Forms/Controls/TextBoxHandler.cs
  src/Eto.WinForms/Forms/WindowsControl.cs
  src/Eto.Wpf/Forms/Controls/TextBoxHandler.cs
  test/Eto.Test/UnitTests/Forms/Controls/TextBoxTests.cs
Labels: bug

#2790 Add TextBox.AlwaysShowSelection
  src/Eto.Gtk/Forms/Controls/TextBoxHandler.cs
  src/Eto.Mac/Forms/Cells/ImageTextCellHandler.cs
  src/Eto.Mac/Forms/Cells/TextBoxCellHandler.cs
  src/Eto.Mac/Forms/Controls/MacText.cs
  src/Eto.Mac/Forms/Controls/TextBoxHandler.cs
  src/Eto.WinForms/Forms/Controls/TextBoxHandler.cs
  src/Eto.WinUI/Forms/Controls/TextBoxHandler.cs
  src/Eto.Wpf/Forms/Controls/TextBoxHandler.cs
  src/Eto/Forms/Controls/TextBox.cs
  src/Eto/Forms/ThemedControls/ThemedTextStepperHandler.cs
  test/Eto.Test/Sections/Controls/TextBoxSection.cs
Labels: enhancement

#2792 Mac: Allow TextBox.MapPlatformCommand to work before control is loaded
  src/Eto.Mac/Forms/Controls/MacText.cs
  src/Eto.Mac/Forms/MacView.cs
Labels: enhancement
